/* .draggable {
    cursor: move;
    position: absolute;
    user-select: none;
} */

/* .draggable {
    cursor: move;
    user-select: none;
} */

table th, table td
{
    width: 400px;
    padding: 5px;
    border: 1px solid #ccc;
}
table th{
    cursor: pointer;
}
.selected
{
    background-color: #666;
    color: #fff;
}

#myInput{
    width: 90%;
    margin: 30px;
}